body,
html {
  height: 100%;
}
.backgroundimg {
  background-image: url("charity.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 721px;
  opacity: 0.8;
}
.headerset {
  padding-top: 250px;
  box-sizing: border-box;
}

.headerset h2 {
  font-size: 42px;
}

.headerset h1 {
  font-size: 72px;
  font-weight: bold;
}
